html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Roboto, sans-serif;
}

#body {
	background: linear-gradient(to bottom right, #3F51B5, #009688);
	transition-duration: 1s;
}

#title {
	text-align: center;
	padding-top: 200px;
	transition-duration: 1.5s;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-direction: normal;
}

@keyframes unlocking {
	0% {margin-top: 0% }
	100% {margin-top: -100% }
}

.title {
	color: white;
	font-size: 32pt;
	text-shadow: 0px 5px 20px black;
	font-weight: 200;
}

.button1 {
	padding: 20px;
	color: #EC407A;
	transition-duration: 0.15s;
	cursor: pointer;
	font-size: 20pt;
	text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.67);
}

.button1:hover {
	font-size: 24pt;
}

#main {
	position: fixed;
	top: 0%;
	padding-top: 100px;
	padding-left: 5%;
	color: black;
	visibility: hidden;
	transition-delay: 0.5s;
	transition-duration: 1s;
	opacity: 0;
	margin-top: 100%;
}

.description {
	font-size: 18pt;
	font-weight: 200;
}

.description2 {
	font-size: 10pt;
	font-style: italic;
}

.description3 {
	font-size: 10pt;
	font-weight: 300;
}
.card {
	background-color: white;
	margin-right: 50px;
	width: 300px;
	height: 250px;
	bottom: 10%;
	box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.4);
	padding: 30px;
	border-radius: 2px;
	transition-duration: 1s;
	position:fixed;
}

.card:hover {
	box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.3);
	transition-duration: 0.15s;
}

.card:active {
	box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.25);
	transition-duration: 0.15s;
}

h1 {
	color: white;
	font-weight: 200;
	text-shadow: 0px 5px 20px black;
	font-size: 46pt;
	margin-top: 0;
	position: fixed;
	transition-duration: 1s;
}

#unlock {
	animation-name: unlock;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	animation-direction: normal;
	animation-duration: 2s;
	cursor: pointer;
}

@keyframes unlock {
	0% { transform: rotate(0deg); width: 90px; height: 90px; }
	5% { transform: rotate(-3deg); }
	10% { transform: rotate(3deg); }
	20% { transform: rotate(-3deg); }
	30% { transform: rotate(3deg); }
	40% { transform: rotate(-3deg); }
	50% { transform: rotate(3deg); }
	60% { transform: rotate(-3deg); }
	70% { transform: rotate(3deg); }
	80% { transform: rotate(-3deg); }
	90% { transform: rotate(0deg); width: 95px; height: 95px; }
	100% { transform: rotate(0deg); width: 90px; height: 90px; }
}

video, audio {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	border-radius: 2px;
}

#title2 {
	position: fixed;
	left: 5%;
	top: 5%;
	opacity: 0;
	transition-duration: 1s;
	transition-delay: 1s;
}

#description {
	position: fixed;
	right: -80;
	bottom: 1%;
	transform: scale(0.5);
	transition-duration: 1s;
	transition-delay: 0s;
	text-align: right;
}

#IAmYourFather {
	width: 100px;
	height: 100px;
	position: fixed;
	top: 5%;
	right: 50%;
}

#arrow1, #arrow2, #arrow3, #arrow4 {
	transition-duration:0.1s;
	opacity:0;
	visibility:hidden;
	position:fixed;
	top:5%;
	cursor: pointer;
	z-index: 501;
}

#arrow1:hover, #arrow2:hover {
	width: 42px;
}

#arrow3:hover, #arrow4:hover {
	width: 37px;
}

#arrow1:active, #arrow2:active {
	width: 45px;
}

#arrow3:active, #arrow4:active {
	width: 40px;
}

#searchBox, #settingsBox {
	text-align: right;
	position: fixed;
	color: white;
	text-shadow: 0px 5px 20px black;
	font-weight: 200;
	top: 30%;
	right: -25%;
	transition-duration: 1s;
	z-index: 501;
}

.searchItem {
	cursor: pointer;
}
.searchItem:hover {
	font-weight: 300;
}

text {
	cursor: default;
}

#darkSide {
	opacity: 0.67;
	background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0.2), rgba(0,0,0,0.2));
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
	transition-duration: 0.5s;
	z-index: 500;
}

#darkSide.hide {
	visibility: hidden;
	opacity: 0;
	transition-duration: 0.5s;
}

.backgroundPic, .backgroundPicH {
	background-size: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
	opacity: 0.125;
	z-index: -9999;
	transition-duration: 0.3s;
	filter: grayscale();
}

.backgroundPicH {
	opacity: 0;
	visibility:hidden;
}

.colorPick, .colorPickS {
	width: 20px;
	height: 20px;
	margin-top: 5px;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0);
	transition-duration: 0.3s;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
}

.colorPickS {
	border-color: rgba(255, 255, 255, 1);
}